// Colors
// $black-bis:    hsl(0, 0%, 7%) !default;
// $black-ter:    hsl(0, 0%, 14%) !default;

// $grey-darker:  hsl(0, 0%, 21%) !default;
// $grey-dark:    hsl(0, 0%, 29%) !default;
// $grey:         hsl(0, 0%, 48%) !default;
// $grey-light:   hsl(0, 0%, 71%) !default;
// $grey-lighter: hsl(0, 0%, 86%) !default;
// $grey-lightest: hsl(0, 0%, 93%) !default;

// $white-ter:    hsl(0, 0%, 96%) !default;
// $white-bis:    hsl(0, 0%, 98%) !default;
// $white:        hsl(0, 0%, 100%) !default;

// $orange:       hsl(14,  100%, 53%) !default;
// $yellow:       hsl(48,  100%, 67%) !default;
// $green:        hsl(141, 53%,  53%) !default;
// $turquoise:    hsl(171, 100%, 41%) !default;
// $cyan:         hsl(204, 71%,  53%) !default;
// $blue:         hsl(217, 71%,  53%) !default;
// $purple:       hsl(271, 100%, 71%) !default;
// $red:          hsl(348, 86%, 61%) !default;

$black: #010A1F !default;
$black-bis: #040B33 !default;
$black-ter: #080A45 !default;

$violet: #04005E;
$purple: #440BD4;
$red: #FF2079;
$pink: #E92EFB;
$cyan: #08F7FE;
$turquoise: #09FBD3;

$white: #ffffff !default;

$primary: #000;
$link: #000;
$info: #000;
$success: #000;
$warning: #000;
$danger: #000;
$dark: #000;
$text: $white;


$sky-0: $black;
$sky-1: $black-bis;
$sky-2: $black-ter;
$sky-3: $violet;
$sky-4: $purple;
$sky-5: $red;



$small: 576px;
$medium: 768px;
$large: 992px;
$extra: 1200px;