@import 'variables';
@import 'hero';
@import 'layout';

@font-face {
  font-family: neon;
  src: url(../assets/fonts/Neons_demo.otf);
  font-display: swap;
}

@font-face {
  font-family: vcr;
  src: url(../assets/fonts/VCR_OSD_MONO.ttf);
  font-display: swap;
}
/***************************/

html {
  background-image: linear-gradient(
    to bottom,
    $sky-0,
    $sky-0 10%,
    $sky-1 30%,
    $sky-1 40%,
    $sky-2 50%,
    $sky-2 60%,
    $sky-3 70%,
    $sky-4 80%,

    $violet 80%,
    $red 99%,
    $pink 100%,
  );
  color: $text;
  font-family: Helvetica, sans-serif;
  min-height: 100%;
  width: 100%;
}

@mixin vcr-shadow($isText) {
  @if $isText {
    text-shadow:
      1px 1px 1px black,
      2px 2px 1px black,
      3px 3px 1px black;
  }
  @else {
    box-shadow:
      1px 1px 1px black,
      2px 2px 1px black,
      3px 3px 1px black;
  }
}
.shadow {
  @include vcr-shadow(true);
}

.lines-on-sides {
  display: flex;
  text-align: center;
  span {
    margin: 0 0.5rem;
    z-index: 2;
  }
  &:before,
  &:after {
    @include vcr-shadow(false);
    content: "";
    border: 1px solid $white;
    height: 0;
    position: relative;
    top: 0.4rem;
    width: 100%;
    z-index: 1;

  }
}

/* MAIN */
main {
  p {
    font-family: vcr, "Trebuchet MS";
    text-align: justify;
  }
  em {
    font-weight: bold;
    text-shadow: 0 0 10px white;
  }
}

@media (min-width: $large) {
  main {
    margin: 0 auto;
    width: 80%;
    p {
      font-size: 1.2rem;
    }
  }
}

/* FOOTER */
footer {
  text-align: center;
  font-size: 2rem;

  a {
    color: $text;
    &:active {
      svg {
        position: relative;
        top: 3px;
        left: 3px;
        filter: none;
      }
    }
    svg {
      filter: drop-shadow(3px 3px 0px black);
      margin: 0 0.5rem;
    }
  }

  .copy {
    margin-top: 24px;
    font-size: 12px;
  }
}


