.Card {
  perspective: 1000px;
  width: 600px;
  height: 300px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped .wrapper {
  transform: rotateY(180deg);
}

.sideA,
.sideB {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideB {
  transform: rotateY(180deg);
}
