.Home {
  .emoji-row {
    display: flex;
    justify-content: center;

    .emoji {
      align-items: center;
      border-width: 3px;
      border-style: solid;
      border-radius: 50%;
      box-shadow: 0 0 5px black;
      display: flex;
      font-size: 2rem;
      height: 3.5rem;
      justify-content: center;
      position: relative;
      width: 3.5rem;

      figcaption {
        display: none;
      }

      &:hover figcaption {
        display: block;
        font-size: .5em;
        position: absolute;
        text-align: center;
        top: -2rem;
        width: 12rem;
      }
    }
  }
}

