@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hachi+Maru+Pop&family=Imbue:wght@300&family=Raleway&family=Roboto:wght@300&family=Sacramento&display=swap');

.App {
  font-family: Courier, "Courier New", monospace;
  padding: 0 1rem;

  .dancing {
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
  }
  .hachi {
    font-family: 'Hachi Maru Pop', cursive;
  }
  .imbue {
    font-family: 'Imbue', serif;
    font-size: 1.3em;
  }
  .raleway {
    font-family: 'Raleway', sans-serif;
  }
  .roboto {
    font-family: 'Roboto', sans-serif;
  }
  .sacramento {
    font-family: 'Sacramento', cursive;
    font-size: 1.5em;
  }

  header a {
    text-align: center;
    text-decoration: none;
    color: black;
  }

  main {

    .emoji-row {
      display: flex;
      justify-content: center;

      .emoji {
        align-items: center;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        display: flex;
        font-size: 24px;
        height: 40px;
        justify-content: center;
        width: 40px;
      }
    }

    a {
      text-decoration: none;
      color: blueviolet;
      font-weight: bold;

      &[target="_blank"] {
        color: red;
        font-weight: normal;
      }
    }
  }

  footer {
    text-align: center;
    color: #666666;
    padding: 4rem 0 1rem;
    font-size: 0.8rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .App { }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .App {
    max-width: 768px;
    margin: auto;

    .content {
      display: flex;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .App { }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .App { }
}