// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

.app {
  font-family: 'Fira Code', monospace;
  padding: 0 1rem;
  background-color: var(--bg);
  color: var(--primary);

  header {
    min-height: 70px;
    a {
      text-align: center;
      text-decoration: none;
      color: var(--primary);
    }
  }

  a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;

    &[target='_blank'] {
      color: var(--highlight);
      font-weight: normal;
    }
  }

  main {
    flex: 1;
  }

  footer {
    text-align: center;
    color: var(--comment);
    padding: 4rem 0 1rem;
    font-size: 0.8rem;
  }
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .App {
//   }
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .app {
    max-width: 768px;
    margin: auto;
  }
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .app {
//     max-width: 992px;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .App {
//   }
// }
