body {
  --bg: rgb(40, 42, 54);
  --primary: rgb(248, 248, 242);
  --secondary: rgb(189, 147, 249);
  --highlight: rgb(255, 121, 198);
  --comment: rgb(62, 62, 69);

  --slide-up: slide-up;
  --slide-down: slide-down;

  margin: 0;
  background-color: var(--bg);
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
